<h2 id="title">Welcome to Ember</h2>

<h3>This is a 'Country' model</h3>
{{#each model as |country|}}
<ul>
  <li>ID: {{country.id}}</li>
  <li>Name: {{country.name}}</li>
  <hr/>
  <li>
    Cities:
    <ul>
      {{#each country.cities as |city|}}
        <li>{{city.name}}</li>
      {{/each}}
    </ul>
  </li>
  <hr/>
  <li>
    Weather:
    <ul>
      <li>Temperature: {{country.weather.temperature}}</li>
      <li>Description: {{country.weather.description}}</li>
    </ul>
  </li>
  <li>
    Regions:
    <ul>
      {{#each country.regions as |region|}}
        <li>Name: {{region.name}}</li>
        <li>Capital: {{region.capital.name}}</li>
      {{/each}}
    </ul>
  </li>
</ul>
{{/each}}

{{outlet}}
